# Backups
*~
*.swp

# Executables
*.exe
*.out

# Compiled Object files
*.slo
*.lo
*.o
*.gch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Run logs
project[0-9]/logs

# Image logs
project2/data/logs/2012-03-02
